<ul  class="comments">
  <% Comment.all.order('created_at DESC').each do |comment| %>
    <% if comment.id.present? %>
      <li class="card mt-2 comment-content">
        <div class="card-body">
          <div class="text-dark ">
            <div class="row ">
            <div class="col-md-9 ">
              <div class="">
                <h6 class="card-title"> To :
                  <%Worker.all.each do |worker|%>
                    <%if comment.worker_id == worker.id%>
                      <%= worker.username%> 
                    <%end%>
                  <%end%>
                </h6><br>
                <%= comment.content %> 
              </div> 
            </div>
            <div class="col-md-3">
              <%= link_to 'Edit', edit_company_comment_path(comment.company, comment), class:'btn btn-primary btn-sm'%>
              <%= link_to 'Delete', company_comment_url(id:comment.id,company_id:comment.company.id), method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger btn-sm' %>  
            </div>
          </div>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>