<body class="bg-main ">
    <div class="d-flex justify-content-center job-show">
        <div class="card mb-3" style="width:30rem;">
            <h3 class="card-header text-center">Job Application Request</h3>
            <div class="card-body">           

                <%= render 'form', request: @request %>
                <%= link_to 'Cancel', root_path , class:'btn btn-light'%>              
              
            </div>
        </div>
    </div>  
</body>
