// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.update-profile {
    background-color: darkred;
    height: 3rem;
    width: 100%;
    font-size: 18px;
}

.hire-btn {
    background-color: darkviolet !important;
}

.reg-img {
    border-right: 1px solid rgba(0, 0, 0, 0.082) !important;
}

.login-img {
    height: 27rem !important;
}