// // Place all the styles related to the homes controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.job-cat-img {
    width: 80% !important;
    height: 80% !important;
}

.job-cat-card {
    width: 22rem !important;
    height: 120px !important;
     
}

.job-cat-card:hover{
    transform: scale(1.1) !important;
 }
// .card-columns {
//     column-count: 3!important;
// }

.creator {
    width: 200px!important;
    height: 50% !important;
}

.creator-card {
    border: none !important;
}
.home-jobs {
    background-color: #e497cd1f;
}