// Place all the styles related to the workers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.worker-profile-pic {
    width : 95px;
    height: 95px;
}

.worker-show-image{
    width : 100%;
    height: 100%;
}

.worker-comment > li{
  display: block;
}

.worker-comp-comment-img {
    width : 55px;
    height: 55px;
}

.boda {
  height: auto;
  background-color: #a16ae823 ;
  width : 100%;
  border-left: 4px solid #a16ae8b0 !important;
}

.hour-rate {
    margin-top: 2rem;
    font-size: 22px;
}
// .worker-logout {
//     position: relative !important;
//     left: 20% !important;
// }

.workers-card {
  column-count: 3!important;
}